.navSlider {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 1.5rem;
}

.category-link {
	text-decoration: none;
}

/* .slick-track {
	display: flex;
	width: 100% !important;
	align-items: center;
}
.slick-dots {
	display: none !important;
} */
