.navbar {
	width: 95%;
	border-radius: 0.5rem;
	display: flex;
	padding-top: 0.2rem;
	margin: 0%;
	background-color: white;
	box-shadow: 0 5px 18px 0 #8e8c7b;
	height: 60px;
}

.logo {
	width: 95px;
	height: 50px;
}

.decor {
	position: absolute;
	left: auto;
	top: 100%;
	right: 1%;
	height: 1.5rem;
}

.nav-bar-btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
