.logo {
	width: 100px;
	height: 50px;
}

.navbar {
	display: block;
	font-family: Avenir, sans-serif;
}

.TopLargeMiddleSec {
	display: flex;
	justify-content: center;
}
.secRow {
	display: flex;
	justify-content: center;
}
.secRow ul {
	display: flex;
	gap: 2rem;
	color: white;
}

.ConnectBtnLarge {
	display: flex;
	gap: 1rem;
	padding-left: 1rem;
}

.TopLargeRightSec {
	display: flex;
	justify-content: end;
	align-items: center;
}

.CollapsButtonsDivLarge {
	display: flex;
	justify-content: end;
	align-items: center;
}

.ConnectBtn {
	display: none;
}

.CollapsButtonsDiv {
	display: none;
}

.navbar-nav {
	font-size: 18px;
}

.topNavRow {
	width: 100%;
	display: flex;
	padding-top: 0.2rem;
}

.TopLargeleftSec {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.btn-log-in,
.btn-signup {
	width: 140px;
	height: fit-content;
}

.secNavRow {
	padding-top: 1rem;
	margin-top: 1rem;
	border-top: 1px solid rgba(54, 69, 79, 0.8);
}
.mainNavbar {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-top: 1rem;
	border-top: 1px solid rgba(54, 69, 79, 0.8);
	border-bottom: 1px solid rgba(54, 69, 79, 0.8);
	display: flex;
	gap: 2rem;
	width: 100%;
}
.ExtraNavItems {
	display: flex;
	gap: 2rem;
}

#nav-bar {
	max-width: 100%;
}
.mobileShowButtons {
	display: none;
}
.navbar .divider-vertical {
	height: 30px;
	margin: 0 9px;
	margin-top: 5px;
	border-right: 1px solid #919191;
	border-left: 1px solid #919191;
}

.navbar-inverse .divider-vertical {
	border-right-color: #222222;
	border-left-color: #111111;
}

.CollapsNavbar {
	gap: 20px;
}

/* Collaps Navbar  */
.navbar-toggler {
	position: absolute;
	right: 0;
	top: 1rem;
}
.webNavLinks {
	width: 100%;
	margin: 0;
	display: flex;
}
.MobileNavLinks {
	display: block;
	width: 100%;
	color: white !important;
}
.ResponsiveNav {
	display: none;
}
@media (max-width: 1024px) {
	.webNavLinks {
		display: none;
	}
	.ResponsiveNav {
		display: block;
		margin-top: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media (max-width: 768px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
	.webNavLinks {
		display: none;
	}
	.MobileNavLinks {
		display: flex;
		color: white !important;
	}
	.SliderNav {
		display: flex;
		width: "100%";
		color: white;
	}
	.CollapsNavbar {
		/* border: 1px solid red; */
		padding-top: 30px;
	}

	.CollapsButtonsDiv {
		display: block;
		margin-top: 40px;
	}

	.TopLargeleftSec {
		display: none;
	}
	.TopLargeMiddleSec {
		margin-bottom: 0.5rem;
	}

	.CollapsButtonsDivLarge {
		display: none;
	}
	.mobileShowButtons button {
		color: #ffc007 !important;
	}
	.mobileShowButtons {
		padding-right: 10px;
		padding-top: 10px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.mobileShowButtons button {
		background: transparent;
		border: none;
		outline: none;
		color: white;
		font-family: Avenir, sans-serif;
		font-size: 0.9rem;
	}

	/* .ConnectBtnLarge{
		display: none;
	
	} */
	.navbar-collapse {
		height: 100vh;
	}

	.topNavRow {
		display: flex;
	}

	.ConnectBtn {
		margin-top: 20px;
		display: block;
	}

	/* .CollapsButtonsDivLarge{
		display: none;
	} */
}

.nav-bar-item {
	display: inline-block;
	position: relative;
	color: #ffc007;
}

.nav-bar-item:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #ffc007;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.nav-bar-item:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.slick-track {
	display: flex !important;
	gap: 2rem !important;
}
.slick-track h3 {
	color: #ffc007 !important;
}
